$theme-colors: (
  'primary': #6f32c9,
  'secondary': #833bec,
  'success': #4bb063,
  'info': #ff7d50,
  'warning': #f7b801,
  'danger': #ff007f,
  'light': #fff,
  'dark': #001738,
);

$fonts: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Lato, Arial, sans-serif;

body {
  font-family: $fonts !important;
}


@each $color, $value in $theme-colors {
  .btn-#{$color} {
    &:hover, &:active, &:focus {
      @if $color == 'warning' {
        background: darken($value, 4%) !important;
        border-color: darken($value, 4%) !important;
      }
      @else {
        background: lighten($value, 15%) !important;
        border-color: lighten($value, 15%) !important;
      }
    }
  }
  .btn-outline-#{light}{
    border-color: darken(#fff, 16%) !important;
    color: darken(#fff, 75.5%) !important;

    &:hover {
       background: darken(#fff, 8.3%) !important;
    }
    &:active {
      @if $color == 'light' {
        color: map-get($theme-colors, "primary") !important;
        border-color: map-get($theme-colors, "primary") !important;
      }
    }
  }
}

@import '~/node_modules/bootstrap/scss/bootstrap.scss';

.btn {
  border-radius: 8px;
  font-family: $fonts;
  font-size: 14px;
  text-transform: none;
  padding: 9px 14px;
  line-height: 19px;
  outline: none;
  box-shadow: unset !important;

  &-success, &-warning {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }

  &[aria-expanded="true"] {
    color: map-get($theme-colors, "primary") !important;
    border-color: map-get($theme-colors, "primary") !important;
    background: #fff !important;
    & i {
      color: map-get($theme-colors, "primary") !important;
      transform: rotate(180deg);
    }
  }
}

.dropdown-toggle {
  width: 100%;
  padding-right: 16px;
  & i {
    transition: transform .2s;
  }

  &::after {
    content: none;
  }
}

.dropdown-toggle.btn-outline-light {
  & i {
    color: #797979;
  }
}
.dropdown-menu {
  min-width: 250px;
  border: none !important;
  box-shadow: rgba(179, 179, 179, 0.5) 0 6px 32px;
  margin: 10px 0 0;
  width: max-content;
  min-height: 52px;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  transform: translate3d(0px, 39px, 0px);
  top: 0;
  left: 0;
  font-family: $fonts;
  padding: 10px 0;

  & li {
    color: #3e3e3e;

    & .dropdown-item {
      line-height: 32px;
      padding: 0 20px 0 10px;
      font-weight: 500;
      margin: 0 10px 1px;
      white-space: nowrap;
      width: auto;

      &:hover, &.active {
        border-radius: 8px;
        background-color: map-get($theme-colors, "primary");
        color: #fff;
      }
    }
  }
}


input, textarea {
  width: 100%;
  color: #3e3e3e;
  font-weight: 400;
  line-height: 22px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: block;
  font-size: 14px;
  padding: 9px 16px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

  &:focus, &:focus-visible {
    box-shadow: none !important;
    outline: none !important;
    border-color: map-get($theme-colors, "primary");
  }
}
